@import url("https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e0eef3;
  font: "Roboto", sans-serif;
}

.main-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input{
  height: 35px;
  width: 165px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-top: 40px;
}

li {
  margin-top: 15px;
}

button {
  height: 30px;
  width: 60px;
  color: white;
  background-color: #1b0fff;
  font: 1.05rem;
  margin-top: 10px;
  cursor: pointer;
}